* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #eeeeee;
}

textarea {
	resize: none;
	border: none;
	font-size: 16pt;
	width: 60%;
	height: 100vh;
	margin: 0 20%;
	padding: 5rem;
}

textarea:focus{
	outline: none;
}

input {
	position: fixed;
	margin: 1rem;
}

svg {
    display: none;
		position: fixed;
		margin: 1rem;
		margin-left: 2rem;
    width: 1rem;
    height: 1rem;
    stroke-width: 2px;
		stroke: black;
		animation-name: spin;
		animation-duration: 0.5s;
		animation-iteration-count: infinite;
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
